rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // --- FUNCIONES DE APOYO ---
    function isAuthenticated() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data;
    }

    // Funciones de Rol
    function isAlumno() { return getUserData().rol == 'alumno'; }
    function isResidente() { return getUserData().rol == 'residente'; }
    function isRoot() { return getUserData().rol == 'root'; }
    function isAdmin() { return getUserData().rol == 'admin'; }
    function isJefe() { return getUserData().rol == 'jefe departamento academico'; }
    function isJefeDiv() { return getUserData().rol == 'jefe division de estudios'; }
    function isAsesorInt() { return getUserData().rol == 'asesor interno'; }

    // --- REGLAS DE PROYECTOS ---
    match /proyectos/{proyectoId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && (isRoot() || isAdmin() || isJefe() || isJefeDiv() || isAlumno());
    }

    match /usuarios/{userId} {
      allow read: if isAuthenticated() && request.auth.uid == userId;

      allow update: if isAuthenticated() && (
        request.auth.uid == userId || isRoot() || isAdmin() || isJefe() || isJefeDiv() || isAlumno() || isResidente()
      );

      allow create, delete: if isAuthenticated() && (isRoot() || isAdmin() || isJefe() || isJefeDiv());
    }
    
  }
}